@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --pause-on-hover: running;
    --pause-on-click: running;
    --play: running;
    --direction: normal;
    --duration: 31.3675s;
    --delay: 0s;
    --iteration-count: infinite;
}

header {
  transition: background-color 0.3s ease-in-out;
}

.header-bg-white {
  background-color: white;
}

@keyframes scroll {
    0% {
      transform: translateX(0%);
    }
  
    100% {
      transform: translateX(-100%);
    }
  }

@keyframes typing {
  from {
    width: 0;
  }
}

.typing {
  display: inline-block;
  overflow: hidden;
  white-space: break-spaces;
  animation: typing 3s steps(20, end);
}

.rectangle{
    @apply mr-5;
    clip-path: polygon(0 0, calc(100% - 50px) 0, 100% 50%, calc(100% - 50px) 100%, 0 100%);
}

.marquee {
    flex: 0 0 auto;
    min-width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: scroll var(--duration) linear var(--delay) var(--iteration-count);
    animation-play-state: var(--play);
    animation-delay: var(--delay);
    animation-direction: var(--direction);
  }
  
  .marquee-container {
    overflow-x: hidden !important;
    display: flex !important;
    flex-direction: row !important;
    position: relative;
    width: 100%;
  }

  .reactangle-green {
    position: absolute;
    width: 7%;
    height: 2%;
    background: #00FF96;
    border-radius: 58px;
  }